.custom-navbar {
  padding: 20px 40px; 
  background-color:#f8f9fa;
}
.custom-navbar .navbar-toggler {
  border-color: black;
}

.custom-navbar .navbar-toggler-icon {
  background-image: none; 
}

.custom-navbar .navbar-toggler-icon::before {
  content: '';
  display: block;
  width: 30px; 
  height: 4px; 
  background-color: black; 
  position: relative;
  transition: all 0.2s;
}

.custom-navbar .navbar-toggler-icon::after {
  content: '';
  display: block;
  width: 30px;
  height: 4px; 
  background-color: black; 
  position: relative;
  top: 5px; 
}

.custom-logo {
  font-size: 2rem; 
  font-weight: bold; 
  letter-spacing: 2px;
  color: black;
}

.custom-nav-links .nav-link {
  font-size: 1.2rem; 
  margin-right: 20px; 
  color: black; 
}

.custom-nav-links .nav-link:hover {
  color: rgb(144, 235, 144);
}

@media (max-width: 768px) {
  .custom-logo {
    font-size: 1.5rem; 
  }

  .custom-nav-links .nav-link {
    font-size: 1rem; 
  }
}
