.portfolio-container {
  padding: 20px;
}

.cardd {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;  
  transition: transform 0.2s;
}

.cardd:hover {
  transform: translateY(-5px);
}

.company, .company2, .company3 {
  padding: 4px; 
  padding-bottom: 2rem;
  position: relative; 
}

.company {
  background: linear-gradient(rgba(219, 193, 193, 0.4), #1877F2);
}

.company2 {
  background: linear-gradient(rgba(219, 193, 193, 0.4), #149a60);
}

.company3 {
  
  background: linear-gradient(rgba(219, 193, 193, 0.4), #f87918);
}

.company img, .company2 img, .company3 img {
  border-radius: 50%;
  overflow: hidden;
  width: 130px;
  height: 130px; 
  object-fit: cover; 
  position: absolute;
  left: 0;
  right: 0;
  top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.comp-prof {
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-top: 4.5rem;
  text-align: center;
}

.cardd a {
  text-decoration: none;
  color: black;
}

.cardd a:hover {
  color: #9ce39d;
}

.comp-data {
  padding: 0 10px 10px 10px;
}
